
# DATABASE_URL="postgresql://postgres:123456@localhost:5432/postgres"
DB_PASSWORD=D1plomad0_M0d3
DB_NAME=tiendaDiplomadoDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMICLac3secreto